In [2]:
import pandas as pd

**Chargement des données**

In [4]:
df_maisons=pd.read_csv('/content/sample_data/new_maisons-nan.csv')
df_maisons

    surface  nb_chambre date_creation couleur  prix classe
0     300.0         3.0    10/02/2010    bleu   100      N
1     200.0         2.0    03/09/2012    vert    90      N
2     250.0         3.0    21/08/2011    bleu    80      N
3     280.0         3.0    21/08/2010    bleu    85      N
4     200.0         NaN    01/10/2012    bleu    82      N
5     400.0         5.0    04/02/2018    vert   480     HS
6       NaN         6.0    21/07/2019    vert   500     HS
7     500.0         NaN    13/02/2019    bleu   600     HS
8     450.0         5.0    30/06/2017    vert   540     HS
9     600.0         6.0    11/01/2019    vert   510     HS
10    500.0         6.0    11/11/2018    bleu   530      N

In [13]:
df_maisons_1=df_maisons.copy()

In [14]:
df_maisons_1.set_index('date_creation')

               surface  nb_chambre couleur  prix classe
date_creation
10/02/2010       300.0         3.0    bleu   100      N
03/09/2012       200.0         2.0    vert    90      N
21/08/2011       250.0         3.0    bleu    80      N
21/08/2010       280.0         3.0    bleu    85      N
01/10/2012       200.0         NaN    bleu    82      N
04/02/2018       400.0         5.0    vert   480     HS
21/07/2019         NaN         6.0    vert   500     HS
13/02/2019       500.0         NaN    bleu   600     HS
30/06/2017       450.0         5.0    vert   540     HS
11/01/2019       600.0         6.0    vert   510     HS
11/11/2018       500.0         6.0    bleu   530      N

In [15]:
df_maisons_1.set_index('date_creation',inplace=True)

In [ ]:
df_maisons_1.head()

               surface  nb_chambre couleur  prix classe
date_creation
10/02/2010       300.0         3.0    bleu   100      N
03/09/2012       200.0         2.0    vert    90      N
21/08/2011       250.0         3.0    bleu    80      N
21/08/2010       280.0         3.0    bleu    85      N
01/10/2012       200.0         NaN    bleu    82      N

In [17]:
df_maisons_1=pd.read_csv('/content/sample_data/new_maisons-nan.csv',index_col=2)

In [19]:
df_maisons_2=pd.read_csv('/content/sample_data/new_maisons-nan.csv', header=None)

In [20]:
df_maisons_2.head()

         0           1              2        3     4       5
0  surface  nb_chambre  date_creation  couleur  prix  classe
1      300           3     10/02/2010     bleu   100       N
2      200           2     03/09/2012     vert    90       N
3      250           3     21/08/2011     bleu    80       N
4      280           3     21/08/2010     bleu    85       N

**Calcule de l'année **

In [21]:
import datetime

In [22]:
d=datetime.datetime(2017,4,21,7,55,32,432)

In [23]:
df_maisons['date_creation'].dtype

dtype('O')

In [24]:
df_maisons.loc[0,'date_creation']

'10/02/2010'

In [ ]:
df_maisons['date_creation']=pd.to_datetime(df_maisons['date_creation'])

In [ ]:
df_maisons.head()

   surface  nb_chambre date_creation couleur  prix classe
0    300.0         3.0    2010-10-02    bleu   100      N
1    200.0         2.0    2012-03-09    vert    90      N
2    250.0         3.0    2011-08-21    bleu    80      N
3    280.0         3.0    2010-08-21    bleu    85      N
4    200.0         NaN    2012-01-10    bleu    82      N

In [ ]:
df_maisons.dtypes

surface                 float64
nb_chambre              float64
date_creation    datetime64[ns]
couleur                  object
prix                      int64
classe                   object
dtype: object

In [ ]:
df_maisons['annee']=df_maisons['date_creation'].apply(lambda d: d.year)
df_maisons.head()

   surface  nb_chambre date_creation couleur  prix classe  annee
0    300.0         3.0    2010-10-02    bleu   100      N   2010
1    200.0         2.0    2012-03-09    vert    90      N   2012
2    250.0         3.0    2011-08-21    bleu    80      N   2011
3    280.0         3.0    2010-08-21    bleu    85      N   2010
4    200.0         NaN    2012-01-10    bleu    82      N   2012

In [ ]:
df_maisons.drop('date_creation',axis=1, inplace=True)
df_maisons.head()

   surface  nb_chambre couleur  prix classe  annee
0    300.0         3.0    bleu   100      N   2010
1    200.0         2.0    vert    90      N   2012
2    250.0         3.0    bleu    80      N   2011
3    280.0         3.0    bleu    85      N   2010
4    200.0         NaN    bleu    82      N   2012

In [ ]:
df_maisons['surface']>300

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8      True
9      True
10     True
Name: surface, dtype: bool

In [ ]:
df_maisons.drop(df_maisons[df_maisons['surface']>300].index,axis=0)

   surface  nb_chambre couleur  prix classe  annee
0    300.0         3.0    bleu   100      N   2010
1    200.0         2.0    vert    90      N   2012
2    250.0         3.0    bleu    80      N   2011
3    280.0         3.0    bleu    85      N   2010
4    200.0         NaN    bleu    82      N   2012
6      NaN         6.0    vert   500     HS   2019

In [ ]:
df_maisons['surface']>300

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8      True
9      True
10     True
Name: surface, dtype: bool

In [ ]:
df_maisons[df_maisons['surface']>300].index

Int64Index([5, 7, 8, 9, 10], dtype='int64')

In [ ]:
df_maisons.head()

   surface  nb_chambre couleur  prix classe  annee
0    300.0         3.0    bleu   100      N   2010
1    200.0         2.0    vert    90      N   2012
2    250.0         3.0    bleu    80      N   2011
3    280.0         3.0    bleu    85      N   2010
4    200.0         NaN    bleu    82      N   2012

Manupulation des valeurs Nan

```
# Ce texte est au format code
```

In [ ]:
df_maisons.fillna({'nb_chambre':df_maisons.nb_chambre.mean()
,'surface':df_maisons.surface.mean()},inplace=True)

In [ ]:
df_maisons

    surface  nb_chambre couleur  prix classe  annee
0     300.0    3.000000    bleu   100      N   2010
1     200.0    2.000000    vert    90      N   2012
2     250.0    3.000000    bleu    80      N   2011
3     280.0    3.000000    bleu    85      N   2010
4     200.0    4.333333    bleu    82      N   2012
5     400.0    5.000000    vert   480     HS   2018
6     368.0    6.000000    vert   500     HS   2019
7     500.0    4.333333    bleu   600     HS   2019
8     450.0    5.000000    vert   540     HS   2017
9     600.0    6.000000    vert   510     HS   2019
10    500.0    6.000000    bleu   530      N   2018

In [ ]:
df_maisons.nb_chambre=df_maisons.nb_chambre.apply(round)
df_maisons

    surface  nb_chambre couleur  prix classe  annee
0     300.0           3    bleu   100      N   2010
1     200.0           2    vert    90      N   2012
2     250.0           3    bleu    80      N   2011
3     280.0           3    bleu    85      N   2010
4     200.0           4    bleu    82      N   2012
5     400.0           5    vert   480     HS   2018
6     368.0           6    vert   500     HS   2019
7     500.0           4    bleu   600     HS   2019
8     450.0           5    vert   540     HS   2017
9     600.0           6    vert   510     HS   2019
10    500.0           6    bleu   530      N   2018

In [ ]:
couleur_encoded=pd.get_dummies(df_maisons['couleur'],prefix='couleur')
couleur_encoded

    couleur_bleu  couleur_vert
0              1             0
1              0             1
2              1             0
3              1             0
4              1             0
5              0             1
6              0             1
7              1             0
8              0             1
9              0             1
10             1             0

In [ ]:
df_maisons=pd.concat([df_maisons,couleur_encoded],axis=1)
df_maisons

    surface  nb_chambre couleur  prix classe  annee  couleur_bleu  couleur_vert
0     300.0           3    bleu   100      N   2010             1             0
1     200.0           2    vert    90      N   2012             0             1
2     250.0           3    bleu    80      N   2011             1             0
3     280.0           3    bleu    85      N   2010             1             0
4     200.0           4    bleu    82      N   2012             1             0
5     400.0           5    vert   480     HS   2018             0             1
6     368.0           6    vert   500     HS   2019             0             1
7     500.0           4    bleu   600     HS   2019             1             0
8     450.0           5    vert   540     HS   2017             0             1
9     600.0           6    vert   510     HS   2019             0             1
10    500.0           6    bleu   530      N   2018             1             0

In [ ]:
df_maisons['surface_moy']=df_maisons.apply(lambda ligne:ligne["surface"]/ligne["nb_chambre"],axis=1)
df_maisons

    surface  nb_chambre couleur  ...  couleur_bleu couleur_vert  surface_moy
0     300.0           3    bleu  ...             1            0   100.000000
1     200.0           2    vert  ...             0            1   100.000000
2     250.0           3    bleu  ...             1            0    83.333333
3     280.0           3    bleu  ...             1            0    93.333333
4     200.0           4    bleu  ...             1            0    50.000000
5     400.0           5    vert  ...             0            1    80.000000
6     368.0           6    vert  ...             0            1    61.333333
7     500.0           4    bleu  ...             1            0   125.000000
8     450.0           5    vert  ...             0            1    90.000000
9     600.0           6    vert  ...             0            1   100.000000
10    500.0           6    bleu  ...             1            0    83.333333

[11 rows x 9 columns]

In [ ]:
df_maisons.drop(['nb_chambre','surface','couleur'],axis=1, inplace=True,errors ='ignore')
df_maisons

    prix classe  annee  couleur_bleu  couleur_vert  surface_moy
0    100      N   2010             1             0   100.000000
1     90      N   2012             0             1   100.000000
2     80      N   2011             1             0    83.333333
3     85      N   2010             1             0    93.333333
4     82      N   2012             1             0    50.000000
5    480     HS   2018             0             1    80.000000
6    500     HS   2019             0             1    61.333333
7    600     HS   2019             1             0   125.000000
8    540     HS   2017             0             1    90.000000
9    510     HS   2019             0             1   100.000000
10   530      N   2018             1             0    83.333333

In [ ]:
from sklearn.base import BaseEstimator, TransformerMixin
import datetime

In [ ]:
class Transformee(BaseEstimator, TransformerMixin):
    
    def __init__(self, surface_moyenne=False, date_to="annee"):
        self.surface_moyenne=surface_moyenne
        self.date_to=date_to
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        X_=X.copy()
        
        # Traitement sur les données (X_)
        # Etape 1. Suppression des valeurs NaN
        X_.fillna({'surface': X_.surface.mean() , 
                   'nb_chambre': X_.nb_chambre.mean()},
                   inplace=True)
        # Etape 2. Convertir la date de creation annee ou age
        X_.date_creation=pd.to_datetime(X_.date_creation)
        if self.date_to=='annee':
            X_['annee']=X_['date_creation'].apply(lambda date : date.year)
        elif self.date_to=='age':
            X_['age']=X_['date_creation'].apply(lambda date : 
                                                    datetime.datetime.today().year-date.year)
        X_.drop('date_creation', axis=1, inplace=True, errors='ignore')
        # Etape 3. Convertir ou pas la surface et nb_chambre en surface moyenne
        if self.surface_moyenne==True:
            X_['surface_moyenne']=X_.apply(lambda row : row['surface']/row['nb_chambre'], axis=1)
            X_.drop(['surface','nb_chambre'], axis=1, inplace=True, errors='ignore')
        # Etape 4. Convertir la couleur en codes binaires avec Hot-Encoding
        df_couleur_encoded=pd.get_dummies(X_.couleur, prefix='couleur')
        X_=pd.concat([X_,df_couleur_encoded],axis=1)
        X_.drop('couleur', axis=1, inplace=True, errors='ignore')
        return X_